.App {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 10% 90%;
	grid-template-areas: 
		"headerArea headerArea"
		"side dash";
}

#light {
	background-color: white;
}

#light .main {
	background-color: white;
}

#dark {
	background-color: #2B2C37;
}

#dark .main {
	background-color: #2B2C37;
}

.sideBar {
	
}

.header {
	grid-area: headerArea;
}

.App:nth-child(3) {

}

